.ezy-sidebar{
    display: flex;
    align-items: flex-end;
    align-items: center;
    padding: 10px 24px;
  }

  .ezy-logo {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    margin-right: 20px;
    border: #2E0B5F solid 3px;
    border-radius: 5px;
  }

  .ezy-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 20px;
  }

  .ezy-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .ezy-nav-item {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
    margin-right: 30px;
    color: #333;
  }
  
  .ezy-nav-item:hover, .ezy-nav-item.active {
    border-bottom: 2px solid #2E0B5F;
    color: #2E0B5F;
  }

  .ezy-nav-link{
    text-decoration: none;
    color: inherit;
  }
  
  /* Right Section of Navbar */
  .ezy-navbar-actions {
    display: flex;
    align-items: center;
  }